body{
background:
      radial-gradient(100% 100% at 100% 100%, #0000 46%,#eaeaf9 47% 53%,#0000 54%) 32px 32px,
      radial-gradient(100% 100% at 0 0, #0000 46%,#eaeaf9 47% 53%,#0000 54%) 32px 32px,
      radial-gradient(100% 100%, #0000 22%, #eaeaf9 23% 29%, #0000 30% 34%, #eaeaf9 35% 41%, #0000 42%)
      #bae3ff;
background-size: 64px 64px;
}

h1{font-size: 200%;text-align: center;}

#title {
  background: linear-gradient(to bottom, green, white, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: center;
}

footer{
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
}

#footercontainer{
  display: flex;
  justify-content: center;
  gap: 1%;
  border:black;
  border-block-style:groove;
}

#PIZZA {
  display:block;
  margin:auto;
}

#PIZZA:hover {
  width: 8%;
}

#ph1 {
  width: 100%;
  text-align: left;
  text-indent: 10%;
  font-size: 130%;
}

#p1{
  width:100%;
  text-indent: 10%;
}
