h1{
  font-size: 200%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  gap: 2%;
}

#PIZZA {
  position: absolute;
}

#PIZZA:hover {
  width: 5%;
}

